<h3><i class="fa fa-book-reader"></i> Quotes</h3>
<div class="section">
  <div>
    Save your favourite quotes
  </div>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="waves-effect waves-light btn red">
    <i class="fa-brands fa-google left"></i>
    login with google
  </a>
</div>